<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>1038238426288-vvl4ijmtfue0na73ln4sk2s651v3jvjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038238426288-vvl4ijmtfue0na73ln4sk2s651v3jvjr</string>
	<key>API_KEY</key>
	<string>AIzaSyCXRT3GljdVxrcVcPTFqXrfQ5myFDADz64</string>
	<key>GCM_SENDER_ID</key>
	<string>1038238426288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>empresa.Mensajitos</string>
	<key>PROJECT_ID</key>
	<string>mensa-1aee8</string>
	<key>STORAGE_BUCKET</key>
	<string>mensa-1aee8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038238426288:ios:9a3dc9c5585aa385cd0775</string>
</dict>
</plist>
